.OwnerPicture {
  background-color: #000;
  position: relative;
  overflow: hidden;
  border-radius: 10000px;
}

.OwnerPicture:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.OwnerPicture_inner {
  background-position: top center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 250ms ease;
}

@media (min-width: 960px) {
  .OwnerPicture {
    border-radius: 0;
  }
  .OwnerPicture:before {
    padding-top: 133.33333%;
  }
}
