.HLN {
  background-color: #fff;
}
.HLN_C {
  display: block;
  text-decoration: none;
  color: inherit;
}

.outer {
  position: relative;
}

.outer:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}

.outer .inner {
  background-position: center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.HLN_Con {
  padding: 1rem;
  line-height: 1.25;
  font-size: .75rem;
}

.HLN_T {
  font-size: 1rem;
  margin-bottom: .5rem;
  font-weight: 600;
}

.HLN_D {
  font-size: .65rem;
  color: #b8a246;
  margin-bottom: .5rem;
}
